@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root {
    --color1: #c5a880;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

h2 {
    font-family: 'Dancing Script', cursive;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*  =============== Header ============= */
.header {
    margin-bottom: -10%;
    position: fixed;
    z-index: 1111111111111;
    position: relative;
    background-color: transparent;
}

.header__container {
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header__branch {
    padding: 10px 0;
}

.header__branch span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.header__branch small {
    color: #fff;
}

.header__nav .nav__container {
    
}

.header__nav .nav__container .nav__body {
    display: flex;

}

.header__nav .nav__container .nav__body a{
    padding: 15px 20px;
    /* font-weight: bold; */
    color: #fff;
}

.header__nav .nav__container .nav__body a:hover  {
    border-bottom: 2px solid #ccc;
}

/* slider */
.slider__container {
    position: relative;
}

.home__img {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    position: relative;
    /* z-index: -1; */
}

.overlay {
    opacity: 0.5;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(19, 17, 17, 0.829);
    position: absolute;
    height: 100vh;
}

.home__title {
    position: absolute;
    display: inline-block;
    z-index: 1111111111;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.home__title .title__desc span{
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    display: block;
}

.home__title .title__desc span a {
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}

.home__title .title__desc span a:hover {
    color: var(--color1);
}

.home__title .title__desc h1 {
    font-size: 80px;
    display: inline-block;
    color: #fff;
    word-spacing: 4;
    margin-bottom: 20px;
    font-family: 'Dancing Script';
}



/* slider check */
.slider__check {
    padding: 20px 30px;
    position: relative;
}

.check_grid .grid__container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    text-align: left;
    justify-items: start;
    background-color: #222222;
    top: 50%;
    transform: translateY(-70%);
    z-index: 2;
    position: relative;
}

.check_grid .grid__container .grid__item {
    color: #fff;
    padding: 30px;
}

.grid__container .grid__item .item__boxed .title {
    text-transform: uppercase;
}

.grid__item .item__boxed .boxed__icon {
    margin-top: 10px;
    color: #ccc;
}

.grid__container .grid__item:last-child {
    text-align: center;
    margin: 0 auto;
    background-color: var(--color1);
    padding: 31px 95px;
    position: absolute;
    right: 0;
    color: #fff;
}

/*  ============= slider Room ============= */
.slider__rooms {
    padding: 7em 3em;
}

.rooms__container {
    position: relative;
}

.rooms__container .rooms__title {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.rooms__container .rooms__title span {
    color: var(--color1);
    font-size: 18px;
}

.rooms__container .rooms__title h2 {
    font-size: 50px;
    margin-top: 20px;
}

.rows .item__container {
    display: flex;
    text-align: center;
}

.item__room .room__img img {
    height: 280px;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.item__room {
    padding: 0 5px;

}

.item__room .room__sub {
    padding: 60px;
    box-shadow: 0px 10px 15px -10px #111;
    transition: all 0.2s linear;
}

.item__room .room__sub h4 {
    font-size: 20px;
}

.item__room .room__sub p {
    color: #ccc;
    margin-top: 10px;
    line-height: 1.5;
}

.item__room .room__sub .price {
    margin-top: 5px;
}

.item__room .room__sub .price span {
    color: var(--color1);
    padding: 5px;
}

.item__room .room__sub .price button {
    text-transform: uppercase;
    padding: 5px 7px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: black;
    transition: 0.3s ease-in;
}

.item__room .room__sub .price button:hover {
    color: var(--color1);
}

.item__room .room__sub:hover button {
    color: #fff;
}

.item__room .room__sub:hover {
    background-color: #000;
}

.item__room .room__sub:hover h4 {
    color: #fff;
}


/*  slider watch */
.watch__container {
    position: relative;
    padding-bottom: 5em;
}

.watch__container .watch__img {
    display: flex;
    max-height: 500px;
    height: 500px; 
    object-fit: cover;
    position: relative;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.watch__img .overlay {
    height: 500px;  
}

.watch__list {
    position: absolute;
    z-index: 1111111111111111;
}

.watch__title {
    display: block;
}

.watch__title span {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.watch__title h2 {
    font-size: 90px;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

.player-loading {
    width: 100%;
    height: 200px;
    position: relative;
}

.player-play {
    width: 40px;
    height: 40px;
     border-radius: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pink);
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
    cursor: pointer;
}
.player-play:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: white;
    border-radius: inherit;
    animation: fade 1s infinite;
    z-index: -1;
}
    @keyframes fade {
        to {
              transform: scale(3);
              opacity: 0;
            }
     }

.play__popup {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%,-50%);
    background-color: #ccc;
    padding: 1rem .75rem;
    border-radius: 1rem;
}

.play__close {
    position: absolute;
    top: -.75rem;
    right: -0.75rem;
    display: inline-flex;
    padding: .35rem;
    background-color: #ccc;
    color: black;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;

}

.show-popup {
    display: block;
}


/* =========== slider clients ========== */
.clients__container {
    position: relative;
    padding: 0 10px;
}

.clients__img {
    display: flex;
}

.clients__img img::-webkit-scrollbar {
    width: 0;
}

.clients__img img {
    overflow-x: auto;
    height: 250px;
    width: 242px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    padding-right: 10px;
}

/* ============ Footer ========== */

.footer__container {
    position: relative;
    padding: 7em 3em;
    background-color: black;
    color: #fff;
}

.footer__container .footer__list {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* flex-wrap: wrap; */
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: .8fr 1.2fr .5fr .8fr;
}

.footer__container .footer__branch {
    padding: 10px 0;
    margin-bottom: 20px;
}

.footer__branch span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.footer__branch small {
    color: #fff;
}

.footer__item {
    /* max-width: 25%; */
    padding: 10px;
}

.footer__item p {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 20px;
}

.footer__icon i{
    color: var(--color1);
    background-color: #2e2c2c;
    margin-right: 10px;
    padding: 5px;
    font-size: 19px;
    border-radius: 10px;
}


.footer__item h3 {
    font-size: 18px;
    margin-bottom: 25px;
}

.footer__item .service__container {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
}

.footer__service .service {
    margin-bottom: 10px;   
}

.footer__service .service:hover a{
    color: var(--color1);
}

.service__container .footer__service:first-child {
    margin-right: 50px;
}

.footer__service .service a{
    color: #ccc;
    font-size: 17px;
    transition: all 0.2s ease;
}

.ques__container {
    display: flex;
}

.ques__container i {
    margin-right: 10px;
    color: var(--color1);
}
